.dashboard-container{
  border-top: 1px solid #dddddd62;
  min-height: 100vh;
}

.dashboard-header{
  font-family: 'Gramers Light';
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  padding-left: 120px;
  padding-top: 30px;
}

.dashboard-hor-line{
  border: 0;
  border-top: 2px solid #000;
  margin-top: 10px;
  width: 90%;
  transform: translateX(5%);
}

.select{
  font-family: "Gramers Light";
  padding: 10px 40px;
  border: 1px solid;
  border-radius: 8px;
  transform: translateX(100%);
  margin-bottom: 20px;
}

.dashboard-add-button{
  font-family: "Gramers Light";
  position: absolute;
  right: 0;
  transform: translateX(-130%);
  margin-top: 5px;
  border: 1px solid;
  border-radius: 8px;
  padding: 7px 30px;
  background-color: white;
}

.dashboard-table{
  width: 85%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: separate;
}

.table-head{
  font-family: "Gramers Light";
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd62;
}

.table-data{
  font-family: "Gramers Light";
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-table-button{
  margin-right: 10px;
  border: none;
  background-color: white;
}

.delete-table-button{
  margin-left: 10px;
  border: none;
  background-color: white;
}